@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  overflow: hidden;
}
.videos {
  width: 100%;
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 20px;
  gap: 50px;
}
/* .videos::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  background: transparent;
}
.videos::-webkit-scrollbar-thumb {
  background: #818080;
} */
