* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #585757;
  color: #fff;
  overflow-x: hidden;
}
header {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  h1 {
    font-size: 32px;
  }
  a {
    color: gold;
    text-decoration: none;
  }
  .active {
    display: none;
  }
}

form {
  background-color: black;
  width: 70vw;
  max-width: 900px;
  min-height: 70vh;
  margin: 100px auto;
  padding: 50px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    text-align: center;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    input,
    textarea {
      border: none;
      outline: none;
      color: black;
    }
    input {
      padding: 10px 20px;
      border-radius: 10px;
    }
    textarea {
      min-height: 100px;
      max-height: 200px;
      resize: vertical;
      border-radius: 10px;
      padding: 10px;
    }
  }
  button {
    background-color: gold;
    color: black;
    padding: 10px;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
  }
}

.container {
  width: 70vw;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .post {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.4);
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: gold;
        cursor: pointer;
      }
    }
  }
}

.wrapper {
  background: rgba(128, 128, 128, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;

  .popup {
    background-color: white;
    padding: 10px;

    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
  }
  .btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      color: black;
      span {
        color: gold;
      }
    }
    button {
      border: none;
      background-color: crimson;
      padding: 10px 20px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
