@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #252525;
  min-height: 100vh;
  color: #e6e6e6;
  margin: 0;
}
.hero-img {
  filter: drop-shadow(0 0 80px rgba(255, 255, 255, 0.38));
}
