* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header nav {
  display: flex;
  gap: 10px;
}
header .buttons {
  display: flex;
  gap: 10px;
}
/* button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
} */

.add {
  background-color: black;
}
