a {
  color: white;
  padding: 5px;
  text-decoration: none !important ;
}

body {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #242424 !important;
  min-height: 100vh;
}
.active {
  background: crimson;
  border-radius: 4px;
  color: white;
  box-shadow: 0 0 10px crimson;
}
